/* General */
html, body {
  letter-spacing: 1px;
}

.hide {
  display: none;
}

div.main {
  overflow: hidden;
  background: #14062F;
  padding: 2em 5em;
  min-height: 150vh;
}

.blur {
  background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));
}

.transform {
  display:flex !important;
}
/* Animation */
@keyframes gradual {
  from {opacity:0}
  to {opacity:1}
}

/* Nav */
nav {
  background: #302858;
}

div.collapse {
  background: #302858;
  width: 50%;
  z-index: 1;
}

.navbar-toggler:focus {
  outline: none;
  border:none;
}

.burger {
  border:3px solid white;
  border-radius:10px;
  width:2em;
  margin: 8px 0;
}

.search-form {
  width: 50%;
}

.search-bar {
  background: #FFFFFF;
  border-radius: 6px;
  width:100%;
  outline:none;
  border:none;
  padding: .3em 1em;
}

@media (max-width:992px){
  .search-bar {
    width: 100%;
  }

  .search-form {
    width: 100%;
    margin: .5em 0;
  }

  a.link {
    margin: .5em 0;
  }
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  line-height: 33px;
  text-align: center;

  
  background: linear-gradient(90deg, #EC006A -2.41%, #992F8B 98.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Link */
.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0 1em;
  text-align: left;
  color:rgb(202, 202, 202) !important;
}

.clicked {
  font-weight: 400 !important;
  color:white !important;
}

/* Panel */
.card-img-top {
  z-index: 2;
  border-radius: 10px;
}

.border-transform {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.card {
  background: none !important;
  transition: transform .3s;
  border-radius:15px !important;
  max-width: 22em;
  transform-origin: center top;
}

.card:hover {
  transition: transform .3s;
  z-index: 10;
  transform-origin: center top;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  
}

/* Card Footer */
.card-footer {
  background: linear-gradient(180deg, #312759, #3D1466);
  color:white;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  padding:.5em 1em;
  display:none;
  animation: gradual .3s;
}

.card-footer h1 {
  font-family: Roboto;
  font-size: 1em;
  font-weight: 500;
  margin:0;
}

.card-footer p {
  font-weight: 300;
  margin:0;
}

.card-footer h4, .card-footer i, .bookmark {
  font-size: 1em;
  color: #FFCB15;
  cursor: pointer;
}

/* Card Column */
.card-columns {
  position: relative;
}

@media (min-width:992px){
  .card-columns {
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
  }
}